@font-face {
  font-family: "stratosskyeng";
  src: url("./fonts/stratosskyengweb-regular.woff2") format("woff2"),
       url("./fonts/stratosskyengweb-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: "stratosskyeng";
  background-color: #004980;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.game-screen {
  display: flex;
  flex-direction: column;
}

.content-box {
  background-color: #C2F5FF;
  width: 480px;
  height: 459px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.content-box p {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 48px;
}

.levels-box {
  display: flex;
  gap: 24px;
  margin-bottom: 67px;
}

.levels-box input[type="radio"] {
  display: none;
}

.levels-box input[type="radio"]:checked+label {
  background-color: #d0ffb7;
}

.stopwatch {
  display: none;
  color: white;
  justify-content: center;
}

.visible {
  display: flex;
}

.level {
  width: 98px;
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #0080C1;
  font-size: 64px;
  transition: all 0.2s;
  border-radius: 12px;
}

.level:hover {
  cursor: pointer;
  background-color: #d0ffb7;
}



.button {
  width: 246px;
  height: 50px;
  background-color: #7AC100;
  color: #FFF;
  border: none;
  font-size: 24px;
  transition: all 0.2s;
  border-radius: 12px;
}

.button:hover {
  background-color: #85cf05;
  cursor: pointer;
}

.cards {
  display: none;
  justify-content: center;
  color: #FFF;
}

.visible-cards {
  display: grid;
}


@media(max-width: 1024px) {
  .content-box{
    width: 320px;
    height: 306px;
  }

  .content-box p {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 32px;
  }

  .levels-box {
    gap: 16px;
    margin-bottom: 45px;
  }
  .level {
    width: 65px;
    height: 65px;
    font-size: 43px;
    transition: all 0.2s;
  }

  .button {
    width: 164px;
    height: 33px;
    font-size: 16px;
  }

}

@media(max-width: 375px) {
  .content-box{
    width: 267px;
    height: 255px;
  }

  .content-box p {
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 27px;
  }

  .levels-box {
    gap: 14px;
    margin-bottom: 38px;
  }
  .level {
    width: 54px;
    height: 54px;
    font-size: 36px;
    transition: all 0.2s;
  }

  .button {
    width: 137px;
    height: 28px;
    font-size: 14px;
  }

}


